.poster {
  border: 1px solid #28576d;
  box-sizing: border-box;
  background-color:  rgba(26, 58, 74, 0);
  width: 201px;
  height: 320px;
  overflow: hidden;
  box-shadow: 0 0 5px #000000;
  .poster-image-wrap {
    width: 100%;
    height: 239px;
    overflow: hidden;
    .poster-image {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  .poster-info {
    background: -webkit-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: -moz-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: -o-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: -ms-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: linear-gradient(0deg, #1c1c1a 0%, #323230 100%);
    height: 81px;
    padding: 7px;
    .poster-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 10px;;
    }
    .poster-ring {
      float: left;
      background-image: url('images/ui/ring.png');
      background-size: 100% 100%;
      width: 20px;
      height: 20px;

    }
    .poster-time {
      float: right;
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}