.slider {
  .slider-title {
    font-size: 40px;
    font-weight: 700;
    transition: all $animation-time;
    padding-left: 43px;
  }
  .slider-slides {
    white-space: nowrap;
    height: 0;
    overflow: hidden;
    transition: all $animation-time;
    padding-left: $page-offset-left-right;
    .slider-slide {
      display: inline-block;
      vert-align: top;
      margin: 5px 79px 5px 0;
    }
    .slider-slide.focused {
      box-shadow: 0 0 14px #ffffff;
      outline: 2px solid #ffffff;
    }
  }
}

.slider.focused {
  .slider-title {
    font-size: 50px;
    opacity: 1;
  }
  .slider-slides {
    height: 340px;
    display: block;
  }
}