body {
  background: #a3a3a3;
  font-family: ProximaNovaCond, Arial; }

.page {
  box-shadow: 0 0 20px #000;
  border-radius: 3px;
  width: 1280px;
  height: 720px;
  color: white;
  margin: auto;
  background-image: url("images/ui/background.png");
  overflow: hidden; }

.poster {
  border: 1px solid #28576d;
  box-sizing: border-box;
  background-color: rgba(26, 58, 74, 0);
  width: 201px;
  height: 320px;
  overflow: hidden;
  box-shadow: 0 0 5px #000000; }
  .poster .poster-image-wrap {
    width: 100%;
    height: 239px;
    overflow: hidden; }
    .poster .poster-image-wrap .poster-image {
      display: block;
      margin: 0 auto;
      width: 100%; }
  .poster .poster-info {
    background: -webkit-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: -moz-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: -o-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: -ms-linear-gradient(90deg, #1c1c1a 0%, #323230 100%);
    background: linear-gradient(0deg, #1c1c1a 0%, #323230 100%);
    height: 81px;
    padding: 7px; }
    .poster .poster-info .poster-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 10px; }
    .poster .poster-info .poster-ring {
      float: left;
      background-image: url("images/ui/ring.png");
      background-size: 100% 100%;
      width: 20px;
      height: 20px; }
    .poster .poster-info .poster-time {
      float: right; }
      .poster .poster-info .poster-time:first-letter {
        text-transform: capitalize; }

.header {
  padding: 34px 43px;
  height: 54px;
  font-size: 54px; }
  .header .header-title {
    float: left; }
  .header .time-block {
    float: right; }

.time-block .time-block-date-wrap {
  color: #ffcc00;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px; }

.time-block .time-block-date {
  font-size: 26px; }

.time-block .time-block-weekday {
  font-size: 24px; }

.time-block .time-block-time {
  display: inline-block;
  line-height: 1;
  font-size: 54px;
  border-left: 4px solid #ffffff;
  padding-left: 20px;
  margin-left: 10px; }

.content {
  overflow: hidden;
  -webkit-mask-image: url(images/ui/gradient-mask.png);
  height: 533px; }

.cinema-halls {
  transition: all 0.4s; }

.slider .slider-title {
  font-size: 40px;
  font-weight: 700;
  transition: all 0.4s;
  padding-left: 43px; }

.slider .slider-slides {
  white-space: nowrap;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  padding-left: 43px; }
  .slider .slider-slides .slider-slide {
    display: inline-block;
    vert-align: top;
    margin: 5px 79px 5px 0; }
  .slider .slider-slides .slider-slide.focused {
    box-shadow: 0 0 14px #ffffff;
    outline: 2px solid #ffffff; }

.slider.focused .slider-title {
  font-size: 50px;
  opacity: 1; }

.slider.focused .slider-slides {
  height: 340px;
  display: block; }
