<div class="slider" ng-class="{focused: focused}">
    <div class="slider-title">{{title}}</div>
    <div class="slider-slides">
        <div ng-repeat="poster in posters" class="slider-slide">
            <ng-include src="'views/partials/poster.html'"></ng-include>
        </div>
    </div>
</div>