<div class="cinema-halls">
    <cinema-slider title="24 часа" src="/fake-api/cinema-halls/24-hours.json" focused="focusedSlider === 0"></cinema-slider>
    <cinema-slider title="Анонсы" src="/fake-api/cinema-halls/coming-soon.json" focused="focusedSlider === 1"></cinema-slider>
    <cinema-slider title="Мои сеансы" src="/fake-api/cinema-halls/my-schedule.json" focused="focusedSlider === 2"></cinema-slider>
</div>