<div class="time-block">
    <div class="time-block-date-wrap">
        <div class="time-block-date">{{time | amDateFormat:'DD MMM'}}</div>
        <div class="time-block-weekday">{{time | amDateFormat:'dddd'}}</div>
    </div>
    <div class="time-block-time" >{{time | amDateFormat:'H:mm'}}</div>
</div>